@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #664EAC;
	--background-url: url('../imgs/bgs/wave-purple.jpg');
}

* {
	transition: all 0.2s ease-in-out;
}

body {
	background-image: var(--background-url);
	background-size: 100% auto;
	background-position: center top;
}

.glass {
	background: rgba(255, 255, 255, 0.0);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}

.glass-xl {
	background: rgba(255, 255, 255, 0.03);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}

#settings-container {
	transition: all 1.5s !important;
}
